.app {
  .logo {
    float: left
  }
  .title {
    font-size: $heading-font-1;
    padding: 10px;
    text-align: center;
  }

  .nav-wrap {
    font: $body-font-1 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: $black;
  }

  ul.nav {
    min-height: 48px;
    width: auto;
    text-align: center;
    margin: 10px 30px 0;
  }

  ul.nav li {
    position: relative;
    height: 42px;
    display: inline-block;
    top: 18px;
    float: right;
  }

  .nav-wrap li a{
    color: $white;
    padding: 0 40px 0 40px;
    text-decoration: none;
    cursor: pointer;
  }

}