.app {
  .title {
    font-size: 30px;
    padding: 10px;
    text-align: center;
  }

  #nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
  }

  ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
  }

  #nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }

  ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
  }

  #nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 16px 30px 0;
    color: white;
    padding: 0;
    border: none;
    outline: none;
  }
}