$imageSize : 300px;
$imageMargin: 15px;
.moviePic{
  float: left;
  margin-right:$imageMargin;
  width:$imageSize
}

.clearFloat{
  clear: both;
}

.capitalize{
  text-transform: capitalize
}

.boldDetails{
  font-weight: bold;
  font-size: 1.1em;
}

.flex-container {
  display: flex;
  align-items: center;  
  flex-wrap: nowrap;
}

.movieTitle{
  min-width: $imageSize+$imageMargin;
}

.flex-item{
  padding-right: 1em;
}

.icon{
  width: 1em;
}
