$text-color: white;

$dark-color: #000500;
$light-color: #FFFFFF;
$main-color: #73648A;
$secondary-color: #9B9ECE;

$blue: #009fdb;
$dark-blue: #0568ae;
$light-blue: #71c5e8;
$green: #4ca90c;
$dark-green: #007a3e;
$light-green: #b5bd00;
$orange: #ea7400;
$yellow: #ffb81c;
$dark-purple: #702f8a;
$purple: #9063cd;
$light-purple: #caa2dd;
$black: #000000;
$dark-gray: #5a5a5a;
$gray: #959595;
$light-gray: #d2d2d2;
$white: #ffffff;

$heading-font-1: 28px;
$heading-font-2: 24px;
$heading-font-3: 20px;
$heading-font-4: 18px;
$heading-font-5: 16px;

$body-font-1: 14px;
$body-font-2: 13px;
$body-font-3: 12px;
$body-font-4: 10px;
